$font-size: 16px;

$link-color: rgb(64, 120, 192);
$background-color: #ffffff;
$footer-background-color: #212121;
$footer-color: #909690;
$footer-link-color: #dcdcdc;

$padding: 10px;
$brand-font-size: 20px;
$line-height: 1.15;

$header-height: 64px;
$page-title-height: 85px;

$small-screen-max-width: 765px;
$large-screen-min-width: 766px;

html, body, #root, #app { height: 100%; }

html {
  overflow-y: scroll; 
}

body {
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { font-size: $font-size + $padding; }
h2 { font-size: $font-size + 8px; }
h3 { font-size: $font-size + 6px; }
h4 { font-size: $font-size + 4px; }
h5 { font-size: $font-size + 2px; }
h6 { font-size: $font-size; }

a:link { color: $link-color; text-decoration: none; }
a:visited { color: $link-color; text-decoration: none; }
a:hover { color: $link-color; text-decoration: underline; }
a:active { color: $link-color; text-decoration: underline; }

#app {
  position: static;
  background-color: $footer-background-color;
}

#header, #footer { z-index: 3; }

#header {
  a.brand { color: #ffffff; text-decoration: none; }
  a.nav { color: #000000; text-decoration: none; }
}

#footer {
    position: relative;
    background-color: $footer-background-color;
    color: $footer-color;    
    padding-bottom: $padding * 5;
    font-size: 0.8em;

    .footer-section { padding: $padding; }
    .footer-section.legal { text-align: center; }
    a:link { color: $footer-link-color; text-decoration: none; }
    a:visited { color: $footer-link-color; text-decoration: none; }
    a:hover { color: $footer-link-color; text-decoration: underline; }
    a:active { color: $footer-link-color; text-decoration: underline; }
}

#map-section, #content-section {
  background-color: $background-color;
  color: rgba(0, 0, 0, 0.870588);
}

#map-section {
  z-index: 2;
  height: 100%;
  padding-top: $header-height;
  box-sizing: border-box;
  
  @media(max-width: $small-screen-max-width) {
    width: 100%;
    position: relative;
    padding-right: $padding*5;
  }

  @media(min-width: $large-screen-min-width) {
    width: 50%;
    position: fixed;
  }

  #map-title {
    height: $page-title-height;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: $padding $padding 0 $padding;

    @media (max-width: $small-screen-max-width) { padding-right: $padding*6; }

    h2 { margin: 0; }
    div, input { width: 100%; }
  }

  #map-wrapper {
    height: 100%;
    box-sizing: border-box;
    padding: $page-title-height $padding $padding $padding;

    #map-toolbar {
        position: absolute;
        top: $header-height + $page-title-height;
        bottom: $padding;
        overflow-y: hidden;
        right: $padding*2;
        z-index: 500;

        @media (max-width: $small-screen-max-width) { margin-right: $padding*5; }

        > div { margin-top: $padding; }
    }

    #map{
      height: 100%;
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
      border-radius: 2px;
    }
  }
}

#content-section {
  z-index: 1;
  padding: $padding;
  box-sizing: border-box;

  @media(max-width: $small-screen-max-width) {
    width: 100%;
  }

  @media(min-width: $large-screen-min-width) {
    padding-top: $header-height+$padding;
    width: 50%;
    margin-left: 50%;
    min-height: 100%;
  }

}

#content-section.without-map {
  padding-top: $header-height+$padding;
  width: 100%;
  margin-left: 0;
  min-height: 100%;

  #content-wrapper {
    @media(min-width: $large-screen-min-width) {
      max-width: $large-screen-min-width;
      margin: 0 auto;
    }
  }
}

.marker {
    margin-left: -6px;
    margin-top: -6px;
    height: 12px;
    width: 12px;
    background-color: #00bcd4;
    border: solid 1px #007888;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    z-index: 266;
    border-radius: 6px;
}
    
.marker.highlighted {
    background-color: #ff4081;
    border: solid 1px #f30053;
    box-shadow: 0px 0px 16px 16px rgba(255, 64, 129, 0.75);
}

.loader {
    border: 2px solid #909740;
    border-top: 2px solid #fff;
    border-radius: 8px;
    width: 12px !important;
    height: 12px !important;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-right: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

dl {
    margin: 0;

    dt { font-size: 0.875em; padding: 20px 16px 0 16px; color: rgba(0, 0, 0, 0.541176); }
    dd { margin: 0; padding: 0 16px 16px 16px; color: rgba(0, 0, 0, 0.870588); }
    dd:first-letter { text-transform: capitalize; }
    li { padding: 8px 8px 8px 0; }
}

form {
  fieldset {
    border: none; padding: 0; margin: 0;
    > div { padding: $padding 0 $padding 0; }
  }
}