@import "config";

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body {
  @extend .full-height;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { font-size: $font-size + 10px; }
h2 { font-size: $font-size + 8px; }
h3 { font-size: $font-size + 6px; }
h4 { font-size: $font-size + 4px; }
h5 { font-size: $font-size + 2px; }
h6 { font-size: $font-size; }


#root, #app-component {
  @extend .full-height;
}

p {
  padding-bottom: 0.5em;
}

.small {
    font-size: 0.875em;
}

.left {
    text-align: left;
}

.centre {
    text-align: center;
}

.right {
    text-align: right;
}

.indented {
    padding-left: $padding;
}

@mixin shadow {
    box-shadow: 2px 2px 1px 0 #000000;
    box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.5);
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

dl {
    dt {
        @extend .small;
        padding: 20px 16px 0 16px;
        color: rgba(0, 0, 0, 0.541176);
    }

    dd {
        padding: 0 16px 16px 16px;
        color: rgba(0, 0, 0, 0.870588);
    }

    dd:first-letter {
        text-transform: capitalize;
    }

    li {
        padding: 8px 8px 8px 0;
    }
}