<header>
    <div class="padding">
        <a href="#/Menu" title="Open menu   "><i class="fa fa-bars"></i></a>
        <a href="#/Main"><i class="fa fa-asterisk"></i></a>
        <h1>Scotland's Mountains</h1>
    </div>
</header>

<div id="map"></div>

<div id="map-veil"></div>

