<header>
    <div class="padding">
        <a href="#/" title="Close menu"><i class="fa fa-times"></i></a>
    </div>
</header>
<section>
    <div class="padding">
        <h3>Map features</h3>
        <h4>Mountains</h4>
        <ul>
            <li><input type="checkbox" /> Munros</li>
            <li><input type="checkbox" /> Corbetts</li>
            <li><input type="checkbox" /> Grahams</li>
        </ul>
        <h4>Map style</h4>
        <ul>
            <li><input type="radio" name="map-style" checked="checked" /> Topographical</li>
            <li><input type="radio" name="map-style" /> Aerial</li>
        </ul>
        <h4>Zoom level</h4>
        <ul>
            <li><input type="radio" name="zoom-level" checked="checked" /> 7</li>
            <li><input type="radio" name="zoom-level" /> 8</li>
        </ul>
    </div>
</section>
