$app-bar-height: 64px;
$tool-bar-height: 46px;
$map-margin: $app-bar-height + $tool-bar-height;

* {
    font-family: 'Roboto', sans-serif;
}

html, body, #app-container, #app-component, #map-component, #map { height: 100%; }

#content-container {
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    padding-top: $app-bar-height;
    margin-bottom: $app-bar-height;
    z-index: 1399;
    background-color: #e8e8e8;
}

body {
    background-color: #f6f6f6;
}

#map {
    background-color: #f6f6f6;
}

#footer-component {
    background-color: #606060;
    color: #f6f6f6;
    font-size: 0.8em;
    padding: 1em;
    
    .legal {
        text-align: center;
        padding-top: 5em;
        a:link, a:visited { color: #f6f6f6; text-decoration: none; }
        a:hover, a:active { color: #f6f6f6; text-decoration: underline; }
    }
}
