$app-bar-height: 64px;
$tool-bar-height: 56px;

* {
    font-family: 'Roboto', sans-serif;
}

html, body, #app-container, #app-component, #map-component, #map { height: 100%; background-color: #e8e8e8; }

#app-component {
    position: relative;
    padding-top: $app-bar-height;
    box-sizing: border-box;
}

#footer-component {
    background-color: #606060;
    color: #e8e8e8;
    font-size: 0.8em;
    padding: 1em;
    
    .legal {
        text-align: center;
        padding-top: 5em;
        a:link, a:visited { color: #e8e8e8; text-decoration: none; }
        a:hover, a:active { color: #e8e8e8; text-decoration: underline; }
    }
}
