<div *ngIf="isLoading">
    <loading></loading>
</div>

<div *ngIf="!isLoading">

    <div ngbDropdown class="d-inline-block mb-3">
        <button class="btn btn-outline-primary btn-lg" id="classificationSelector" ngbDropdownToggle>
            {{selectedClassification?.name}}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                {{selectedClassification?.mountainsCount | number}}
            </span>
        </button>
        <div ngbDropdownMenu aria-labelledby="classificationSelector">
            <button ngbDropdownItem *ngFor="let classification of classifications"  routerLink="../{{classification.id}}">
                {{classification.name}}
                <span class="badge rounded-pill bg-light text-dark">{{classification.mountainsCount | number}}</span>
            </button>
        </div>
    </div>

    <p>{{selectedClassification?.description}}</p>

    <table class="table table-hover">
        <colgroup>
            <col style="width:20%;">
            <col style="width:60%;">
            <col style="width:20%;">
        </colgroup>
        <thead style="border:none;">
            <tr>
                <th sortable="position" class="numeric" direction="asc" (sort)="sortMountains($event)">Position</th>
                <th sortable="name" class="alpha" (sort)="sortMountains($event)">Name</th>
                <th sortable="height" class="numeric" (sort)="sortMountains($event)">Height</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mountain of pageData">
                <td>{{mountain.position}}</td>
                <td>{{mountain.name}}</td>
                <td>{{mountain.height | number:'1.0-0'}}m ({{mountain.height | metersToFeet | number:'1.0-0'}}ft)</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-4">
            <select class="form-select w-auto" [(ngModel)]="pageSize" (ngModelChange)="pageMountains()">
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="50">50 items per page</option>
            </select>
        </div>

        <div class="col-md-4 d-flex justify-content-md-center mt-3 mt-md-0">
            <ngb-pagination [collectionSize]="selectedClassification?.mountainsCount || 0" [(page)]="pageNumber"
                [pageSize]="pageSize" (pageChange)="pageMountains()" [directionLinks]="false" [boundaryLinks]="false" [ellipses]="false">
                <ng-template ngbPaginationPages let-page let-pages="pages">
                    <li class="page-item px-3">
                        Page
                        <select #i class="form-select w-auto d-inline-block" [(ngModel)]="pageNumber" (ngModelChange)="pageMountains()">
                            <option *ngFor="let i of pages" [ngValue]="i">{{i}}</option>
                        </select>
                        of {{pages.length}}
                    </li>
                </ng-template>
            </ngb-pagination>
        </div>

        <div class="col-md-4">
            <ngb-pagination class="float-md-end" [collectionSize]="selectedClassification?.mountainsCount || 0" [(page)]="pageNumber"
                [pageSize]="pageSize" (pageChange)="pageMountains()" [maxSize]="0" [boundaryLinks]="true" [ellipses]="false">
                <ng-template ngbPaginationFirst>
                    <i class="bi bi-skip-start-fill"></i>
                </ng-template>
                <ng-template ngbPaginationLast>
                    <i class="bi bi-skip-end-fill"></i>
                </ng-template>
                <ng-template ngbPaginationPrevious>
                    <i class="bi bi-caret-left-fill"></i>
                </ng-template>
                <ng-template ngbPaginationNext>
                    <i class="bi bi-caret-right-fill"></i>
                </ng-template>
                <ng-template ngbPaginationPages let-page let-pages="pages">
                </ng-template>
            </ngb-pagination>
        </div>

    </div>

</div>