<div *ngIf="isLoading">
    <loading></loading>
</div>

<div *ngIf="!isLoading">

    <div ngbDropdown class="d-inline-block mb-3">
        <button class="btn btn-outline-primary btn-lg" id="classificationSelector" ngbDropdownToggle>
            {{selectedClassification?.name}}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                {{selectedClassification?.mountainsCount | number}}
            </span>
        </button>
        <div ngbDropdownMenu aria-labelledby="classificationSelector">
            <button ngbDropdownItem *ngFor="let classification of classifications"  routerLink="../{{classification.id}}">
                {{classification.name}}
                <span class="badge rounded-pill bg-light text-dark">{{classification.mountainsCount | number}}</span>
            </button>
        </div>
    </div>

    <p>{{selectedClassification?.description}}</p>

    <table class="table table-hover">
        <colgroup>
            <col style="width:20%;">
            <col style="width:60%;">
            <col style="width:20%;">
        </colgroup>
        <thead style="border:none;">
            <tr>
                <th sortable="position" class="numeric" direction="asc" (sort)="sortMountains($event)">Position</th>
                <th sortable="name" class="alpha" (sort)="sortMountains($event)">Name</th>
                <th sortable="height" class="numeric" (sort)="sortMountains($event)">Height</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mountain of pageData">
                <td>{{mountain.position}}</td>
                <td>{{mountain.name}}</td>
                <td>{{mountain.height | number:'1.0-0'}}m ({{mountain.height | metersToFeet | number:'1.0-0'}}ft)</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-6">
            <ngb-pagination [collectionSize]="selectedClassification?.mountainsCount || 0" [(page)]="pageNumber"
                [pageSize]="pageSize" (pageChange)="pageMountains()" [boundaryLinks]="true" [ellipses]="false">
                <ng-template ngbPaginationFirst>First</ng-template>
                <ng-template ngbPaginationLast>Last</ng-template>
                <ng-template ngbPaginationPrevious>Prev</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
                <ng-template ngbPaginationPages let-page let-pages="pages">
                    <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                        <div class="mb-3 d-flex flex-nowrap px-2">
                            <label id="paginationInputLabel" for="paginationInput"
                                class="col-form-label me-2 ms-1">Page</label>
                            <input #i type="text" inputmode="numeric" pattern="[0-9]*"
                                class="form-control custom-pages-input" id="paginationInput" [value]="pageNumber"
                                (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                                (input)="formatPageInput($any($event).target)"
                                aria-labelledby="paginationInputLabel paginationDescription" style="width: 4rem" />
                            <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                                of {{pages.length}}</span>
                        </div>
                    </li>
                </ng-template>
            </ngb-pagination>
        </div>

        <div class="col-6">
            <select class="form-select w-auto float-end" [(ngModel)]="pageSize" (ngModelChange)="pageMountains()">
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="50">50 items per page</option>
            </select>
        </div>
    </div>

</div>