<div *ngIf="isLoading">
    <loading></loading>
</div>

<div *ngIf="!isLoading">
    <select class="form-select w-auto">
        <option *ngFor="let classification of classifications" value="classification.id">
            {{classification.name}} ({{classification.mountainsCount | number}})
        </option>
    </select>

    <h2>{{selectedClassification?.name}}</h2>

    <p>{{selectedClassification?.description}}</p>

    <table class="table table-hover">
        <colgroup>
            <col style="width:20%;">
            <col style="width:60%;">
            <col style="width:20%;">
        </colgroup>
        <thead style="border:none;">
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Height</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mountain of pageData">
                <td>{{mountain.position}}</td>
                <td>{{mountain.name}}</td>
                <td>{{mountain.height | number:'1.0-0'}}m ({{mountain.height | metersToFeet | number:'1.0-0'}}ft)</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-6">
            <ngb-pagination [collectionSize]="selectedClassification?.mountainsCount || 0" [(page)]="page"
                [pageSize]="pageSize" (pageChange)="pageMountains()" [boundaryLinks]="true" [ellipses]="false">
                <ng-template ngbPaginationFirst>First</ng-template>
                <ng-template ngbPaginationLast>Last</ng-template>
                <ng-template ngbPaginationPrevious>Prev</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
                <ng-template ngbPaginationPages let-page let-pages="pages">
                    <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                        <div class="mb-3 d-flex flex-nowrap px-2">
                            <label id="paginationInputLabel" for="paginationInput"
                                class="col-form-label me-2 ms-1">Page</label>
                            <input #i type="text" inputmode="numeric" pattern="[0-9]*"
                                class="form-control custom-pages-input" id="paginationInput" [value]="page"
                                (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                                (input)="formatInput($any($event).target)"
                                aria-labelledby="paginationInputLabel paginationDescription" style="width: 4rem" />
                            <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                                of {{pages.length}}</span>
                        </div>
                    </li>
                </ng-template>
            </ngb-pagination>
        </div>

        <div class="col-6">
            <select class="form-select w-auto float-end" [(ngModel)]="pageSize" (ngModelChange)="pageMountains()">
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="50">50 items per page</option>
            </select>
        </div>
    </div>

</div>