@import "../../config.scss";
@import "../../index.scss";

.mountain-details {

    dl {
        padding-bottom: $padding/2;
    }

    dt {
        @extend .small;
        font-weight: bold;
        color: $color-darker;
    }

    dt:after {
        content: ":";
    }

    dd {
        margin-left: $padding;
    }

    dd:first-letter {
        text-transform: uppercase;
    }

    ul {
        list-style-type: disc;
        margin-left: $padding*2;
    }
}
