ol.classification-table {
    margin: 0;
    padding: 0;

    li {
        padding: 4px 0 4px 0;
        cursor: pointer;
    }

    /*li:hover {
        background-color: $table-bg-hover;
    }*/

    li span.number {
        display: inline-block;
        width: 35px;
        padding-right: 5px;
        text-align: right;
    }

    li span.height {
        font-size: 80%;
        display: block;
        margin-left: 35px;
    }
}