body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
}

div.leaflet-marker-icon.marker-cluster {
    background-image: url('images/mountain-cluster.png');
    text-align: center;
    display: table-cell;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

    div.leaflet-marker-icon.marker-cluster div {
        padding: 8px 0 8px 0;
    }

.navbar-inverse .navbar-brand .s-m-icon{
    padding: 0 0.5em 0 0.5em;
    background: url('images/M_9D9D9D.svg') no-repeat;
    background-size: 1em;
}

.navbar-inverse .navbar-brand:focus .s-m-icon,
.navbar-inverse .navbar-brand:hover .s-m-icon {
    background: url('images/M_FFFFFF.svg') no-repeat;
    background-size: 1em;
}

.navbar-inverse.s-m-transaprent {
    background-color: rgba(34,34,34,0.9)
}

.leaflet-top { top: 5em;}