$color-dark: #778899;
$color-darker: darken($color-dark, 20%);
$color-darkest: darken($color-darker, 20%);

$color-lightest: #e9ecee;
$color-lighter: darken($color-lightest, 20%);
$color-light: darken($color-lighter, 20%);
