* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: dimgrey;  
}

html, body, #root, #app, #map-container, #map-padding, #map { height: 100%; }

#header {
  height: 64px;
  background-color: yellowgreen;
  color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#map-container {
  background-color: whitesmoke;
  padding: 64px 50% 0 0;
  z-index: 1;
  position: absolute;

  @media (max-width: 765px) {
  padding: 64px 0 0 0;
  position: static; //media query
  }
}

#content-container {
  background-color: whitesmoke;
  padding: 64px 10px 10px 10px;
  z-index: 1;

  @media (max-width: 765px) {
    padding: 10px 10px 10px 10px;
  }
}

#footer {
  background-color: dimgrey;  
  color: whitesmoke;
  padding-bottom: 5em;
  z-index: 2;
}

#map-container {
  position: relative;
  top: 0;
  width: 100%;

  #map-title {
    height: 100px;
    position: absolute;
    top: 64px;
    width: 100%;
    padding: 10px;
  }

  #map-padding {
    padding: 100px 10px 10px 10px;
  }

  #map {
    background-color: lightblue;
  }
}
