$color-dark: #778899;
$color-darker: darken($color-dark, 20%);
$color-darkest: darken($color-darker, 20%);

$color-lightest: #e9ecee;
$color-lighter: darken($color-lightest, 20%);
$color-light: darken($color-lighter, 20%);

$padding: 10px;
$font-size: 16px;
$brand-font-size: 20px;
$line-height: 1.15;

$header-height: (4 * $padding) + ($line-height * $brand-font-size) + ($line-height * $font-size);
$nav-bar-height: (2 * $padding) + ($line-height * $font-size);
$page-actions-height: 50px;

$small-screen-breakpoint: 765px;

$map-section-width: 50%;
$content-section-width: 50%;

*, h1 {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.full-height {
  height: 100%;
}

html, body {
  @extend .full-height;
  background-color: $color-lightest;
  font-family: sans-serif;
  font-size: $font-size;
}

#root, #app-component {
  @extend .full-height;
}

header {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-darkest;
  color: $color-lightest;
  z-index: 2;
  line-height: $line-height;

  h1 {
    font-size: $brand-font-size;
    padding: $padding;
  }

  nav {
    background-color: $color-darker;
    color: $color-lightest;
    height: $nav-bar-height;
    overflow-y: hidden; 

    .nav-item {
      display: inline-block;
      padding: $padding;
    }
  }
}

main {
  @extend .full-height;
  padding-top: $header-height;
  background-color: $color-lightest;
  color: $color-darkest;
  z-index: 1;

  #map-section { width: $map-section-width; }
  #content-section { width: $content-section-width; }

  #map-section {
    @extend .full-height;
    float: left;
    position: relative;
    @media (max-width: $small-screen-breakpoint) {
      width: 100%;
    }

    #page-actions {
      position: absolute;
      width: 100%;
      height: $page-actions-height;
      padding: $padding;
    }

    #map-container {
      @extend .full-height;
      padding: $padding;
      padding-top: $page-actions-height;

      #map {
        @extend .full-height;
        background-color: $color-light;
      }
    }
  }

  #content-section {
    float: right;
    padding: $padding;
    
    @media (max-width: $small-screen-breakpoint) {
      width: 100%;
      padding-top: 0;
    }
  }
}

footer {
  clear: both;
  background-color: $color-darkest;
  padding-bottom: $padding * 5;
  font-size: 0.8em;
  
  .footer-section {
    padding: $padding;    
    color: $color-light;
  }

  .footer-section.legal {
    background-color: $color-darker;
    color: $color-lighter;
  }
}
