@import '../../config.scss';

#map {
    @extend .full-height;
    background-color: $page-background-color;
}

.marker {
    margin-left: -6px;
    margin-top: -6px;
    height: 12px;
    width: 12px;
    background-color: #6495ed;
    border: solid 1px #1f66e5;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    z-index: 266;
    border-radius: 6px;
}
    
.marker.highlighted {
    background-color: #daed64;
}

.map.btn-group {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 400;
}