@import '../../index.scss';

@mixin shadow {
    box-shadow: 2px 2px 1px 0 #000000;
    box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.5);
}

#map {
    border: 1px solid $input-border-color;
    box-shadow: $input-box-shadow;
    background-color: $gray-lightest;
    border-radius: $input-border-radius;
    z-index: 0;
}

.marker {
    margin-left: -6px;
    margin-top: -6px;
    height: 12px;
    width: 12px;
    background-color: #6495ed;
    border: solid 1px #1f66e5;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    z-index: 266;
    border-radius: 6px;
    @include shadow;
}
    
.marker.highlighted {
    background-color: #daed64;
}

.map.btn-group {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 400;
    @include shadow;
}