@import '../../config.scss';

#map {
    @extend .full-height;
}

.marker {
    margin-left: -6px;
    margin-top: -6px;
    height: 12px;
    width: 12px;
    background-color: #00bcd4;
    border: solid 1px #007888;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    z-index: 266;
    border-radius: 6px;
}
    
.marker.highlighted {
    background-color: #ff4081;
    border: solid 1px #f30053;
    box-shadow: 0px 0px 16px 16px rgba(255, 64, 129, 0.75);
}

.map.btn-group {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 400;
}