@import "../../config.scss";

table.mountain {
    width: 100%;

    tbody tr {
        cursor: pointer;
    }

    tbody tr:hover {
        background-color: $color-highlight;
        color: $color-lightest;

    }
}
