<header>
    <div>
        <i
            id="reset-view"
            title="Reset map"><img src="@Url.Content("~/Images/M.svg")"/></i>
@*        <i
            id="reset-view"
            class="fa fa-home"
            title="Reset map"></i>*@
        <i
            id="zoom-in-view"
            class="fa fa-search-plus"
            title="Zoom in map"></i>
        <i
            id="zoom-out-view"
            class="fa fa-search-minus"
            title="Zoom out map"></i>
        <i
            id="toggle-aerial-view"
            class="fa fa-picture-o"
            title="Toggle aerial view"></i>
        <i
            id="toggle-munros"
            class="mountain-list-toggle on"
            title="Toggle Munros">M</i>
        <i
            id="toggle-corbetts"
            class="mountain-list-toggle"
            title="Toggle Corbetts">C</i>
        <i
            id="toggle-grahams"
            class="mountain-list-toggle"
            title="Toggle Grahams">G</i>
        <i
            id="show-about"
            class="fa fa-info-circle"
            title="About Scotland's Mountains"></i>
    </div>
    <div>
        <input id="search" type="search" placeholder="Search" title="Search for mountains by name" />
        <i
            id="advanced-search"
            class="fa fa-search"
            title="Advanced search"></i>
    </div>
</header>
