@using ScotlandsMountains.Web.Helpers
<script type="text/javascript" src="//ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&mkt=en-gb"></script>
@Scripts.Render("~/Bundles/Scripts/jquery")
@Scripts.Render("~/Bundles/Scripts/jquery-ui")
@Scripts.Render("~/Bundles/Scripts/app")
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try { clicky.init(@Html.ClickyKey()); } catch (e) { }</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/@Html.ClickyKey()ns.gif" /></p></noscript>
